<h2 id="desc">{{ actionDesc() }}</h2>
<div id="container">
  <div class="section left">
    <p class="action-call">Set hero:</p>
    @for (h of heroNames; track h) {
    <input
      [disabled]="heroBtnDisabled(h)"
      type="button"
      value="{{ h }}"
      (click)="setHero(h)"
    />
    }
  </div>
  <div class="section right">
    <p class="action-call">Set villain:</p>
    @for (v of villainNames; track v) {
    <input
      [disabled]="villainBtnDisabled(v)"
      type="button"
      value="{{ v }}"
      (click)="setVillain(v)"
    />
    }
    <div class="description">
      <p id="villain-desc">
        <b>{{ activeVillain().name }}</b> description:
      </p>
      <ul id="villain-desc-list">
        <li>name: {{ activeVillain().name }}</li>
        <li>desc: {{ villainDescription }}</li>
      </ul>
      <p class="robin-catwoman">{{ robinAndCatwoman() }}</p>
    </div>
  </div>
</div>
